@charset "utf-8";

body{
    font-family: "苹方中等";
    color: #333333;
}

.about{
    position: relative;
}

.nav-about{
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
}

.nav-about>.nav-item>a{
    background: white;
    padding: 30px;
    width: 280px;
    text-align: center;
    color: #666666;
    font-size: 24px;
}

.nav-about>.nav-item>a span{
    font-size: 20px;
}

.nav-about>.nav-item .active{
    background: #c02c38;
    color: white;
}

.about-profile-title{
    position: relative;
}

.about-profile-title-en{
    color: #d6b7b7;
    font-family: "汉仪双线体繁";
    font-size: 72px;
    position: relative;
}

.about-profile-title-en>span{
    display: block;
    position: absolute;
    top: 70px;
    left: 90px;
}

.about-profile-title-zh{
    color: #666666;
    font-size: 32px;
    position: relative;
    top: -20px;
}

.about-profile-title-zh span{
    display: block;
    position: absolute;
}

.about-profile-title-zh span:nth-child(1){
    left: 10px;
}

.about-profile-title-zh span:nth-child(2){
    top: 20px;
    left: 30px;
}

.about-profile-title-zh span:nth-child(3){
    top: 60px;
    left: 220px;
}

.about-profile-content{
    margin-top: 80px;
    font-size: 18px;
    font-family: "苹方常规";
    color: #666666;
    text-indent: 2em;
}

.about-more{
    color: #666666;
    font-size: 28px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.about-more img{
    margin-left: 10px;
    width: 80px;
}

.about-more span:nth-child(1){
    font-size: 72px;
}

.about-profile-about{
    background: #d9d9db;
    padding-top: 20px;
    margin-top: 40px;
}

.about-profile-about p{
    margin-bottom: 0px;
    font-family: "苹方常规";
    font-size: 20px;
    margin-left: 20px;
}

.about-profile-about-title{
    position: relative;
    margin-left: 20px;
    margin-bottom: 40px;
}

.about-profile-about-title span{
    display: block;
}

.about-profile-about-title span:nth-child(1){
    font-family: "汉仪双线体繁";
    font-size: 90px;
    color: #a9a9aa;
}

.about-profile-about-title span:nth-child(2){
    position: absolute;
    top: 60px;
    font-size: 60px;
    color: #666666;
}

.about-brand-title{
    position: relative;
}

.about-brand-title-number{
    font-size: 150px;
    color: #dcdcdc;
}

.about-brand-title-zh{
    font-size: 28px;
    color: #666666;
}

.about-brand-title-zh span{
    display: block;
    position: absolute;
}

.about-brand-title-zh span:nth-child(1){
    top: 80px;
    left: 10px;
}

.about-brand-title-zh span:nth-child(2){
    top: 90px;
    left: 24px;
}

.about-brand-title-zh span:nth-child(3){
    top: 120px;
    left: 130px;
}

.about-brand-definition p{
    font-size: 22px;
    color: #666666;
    font-family: "苹方常规";
}

#pills-development span{
    font-size: 100px;
    color: #e60012;
}

#pills-development p{
    font-size: 22px;
    color: #666666;
}

@media screen and (max-width: 1300px){
    #pills-development span{
        font-size: 60px;
    }
    
    #pills-development p{
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px){
    .about-profile-about-title span:nth-child(1){
        font-size: 60px;
    }
    
    .about-profile-about-title span:nth-child(2){
        top: 40px;
        font-size: 40px;
    }
}

@media screen and (max-width: 992px){
    .nav-about>.nav-item>a{
        padding: 14px;
        width: 180px;
        font-size: 18px;
    }

    .nav-about>.nav-item>a span{
        font-size: 16px;
    }

    .about-profile-title{
        margin-top: 20px;
    }

    .about-profile-about{
        padding: 20px 0px;
    }
}

@media screen and (max-width: 768px){
    .nav-about{
        top: -30px;
    }

    .nav-about>.nav-item>a{
        padding: 8px;
        width: 120px;
        font-size: 14px;
    }

    .nav-about>.nav-item>a span{
        font-size: 12px;
    }
}