@charset "utf-8";

body{
    font-family: "苹方中等";
    color: #333333;
}

.banner{
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.title-en{
    font-family: "微软雅黑";
    font-size: 64px;
    color: #c02c38;
}

.title-zh{
    font-size: 42px;
    color: #999999;
    font-family: "微软雅黑 Regular";
}

.title{
    position: relative;
    font-size: 32px;
}

.title span{
    position: absolute;
}

.title span:nth-child(2){
    margin-left: 24px;
    top: 14px;
}

.title span:nth-child(3){
    margin-left: 224px;
    top: 44px;
}

.info{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.info>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info>div>div{
    margin-top: 10px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.info>div>div img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    align-items: center;
}

.info>div>span{
    display: block;
    margin-top: 20px;
    font-family: "苹方常规";
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .title-en{
        font-size: 42px;
    }
    .title-zh{
        font-size: 32px;
    }

    .info{
        justify-content: space-evenly;
    }
}