@charset "utf-8";

body{
    font-family: "苹方中等";
    color: #333333;
}

.banner{
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.banner-hint{
    width: 100%;
    position: absolute;
    bottom: 100px;
    text-align: center;
    color: white;
    font-size: 32px;
}

.banner-hint span{
    font-size: 18px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list a{
    color: inherit;
}

.list>div>div{
    overflow: hidden;
    width: 500px;
    position: relative;
    background: #e3e3e3;
    border: 2px solid #e3e3e3;
}

.list>div>div:hover{
    background: #f5f5f5;
    border: 2px solid #666666;
}

.list .list-01{
    height: 700px;
}

.list .list-02{
    height: 300px;
}

.list .list-02 .list-img{
    position: relative;
    top: -30px;
}

.list .list-001{
    margin-right: 0.25rem;
}

.list .more{
    width: 100%;
    position: absolute;
    padding: 10px;
    bottom: 0;
    font-size: 20px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.7);
}

.list>div>div:hover .more{
    background: rgba(0,0,0,0.5);
}

.list .more>span{
    padding-right: 20px;
}

.list .more div span{
    font-size: 18px;
}

.list .more div img{
    width: 10px;
}

.list .more-white{
    color: white;
}

@media screen and (max-width: 1024px){
    .list{
        flex-direction: column;
    }

    .list .list-001{
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px){
    .banner-hint{
        bottom: 20px;
        font-size: 24px;
    }

    .banner-hint span{
        font-size: 12px;
    }

    .list .list-01{
        width: 100%;
        height: 500px;
    }
    
    .list .list-02{
        width: 100%;
        height: 200px;
    }

    .list .more{
        padding: 4px;
        font-size: 18px;
    }

    .list .more div span{
        font-size: 16px;
    }
}