@charset "utf-8";

/* 全局通用样式表 */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #f7f7f7;
}

.footer{
    margin: 60px 30px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #999999;
}

.footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.footer li{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #999999;
}

.footer li:nth-last-child(1){
    margin-right: 0px;
    border-right: none;
}

.footer li a,.footer .copy{
    color: #999999;
    font-size: 20px;
}

.footer img{
    width: 28px;
    margin-right: 10px;
}

.footer .national,.footer .icp{
    font-size: 20px;
    color: #333333;
}

@media screen and (max-width: 992px){
    .footer li a,.footer .copy{
        font-size: 14px;
    }
    
    .footer img{
        width: 28px;
    }
    
    .footer .national,.footer .icp{
        font-size: 14px;
    }    
}